# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# NPM
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress
assets
**/cypress.env.json
**/cypress/downloads

# Optional eslint cache
.eslintcache

# Keycloak server
server

# Wireit
.wireit

# Vite
dist
dist-ssr
*.local

# Distribution
*.tgz
npm-dist
/keycloak-js-parent.iml
/libs/keycloak-js/target/
/libs/keycloak-admin-client/target/
/libs/keycloak-admin-client/keycloak-js-admin-client.iml
/apps/account-ui/target/
/apps/account-ui/keycloak-account-ui.iml
/apps/admin-ui/target/
/apps/admin-ui/keycloak-admin-ui.iml
/.idea/
